<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog list page</title>
</head>
<style>
    .layout{
        width: 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>
<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>Blog No</th>
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="blog : ${list}">
                    <td th:text="${blog.id}"></td>
                    <td>
                        <a th:text="${blog.title}" th:href="@{/blog/view(id=${blog.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>